@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.main{
  flex-grow: 1;
  min-height: calc(100vh - [header height] - [footer height]);
}

.footer{
  flex-shrink: 0;
}

.p-inputtext{
  text-align: center;
}

#selected-date{
  text-align: center;
}
